---
title:     Andy Baudoin, Front-end Developer from Portland, Oregon
bodyclass: portfolio
---

<h2>Recent Work</h2>

<article>
  	
	<p class="title"><a href="http://giro.com/newroad" target="_blank">Giro New Road <i class="icon-external-link-sign"></i></a></p>
	<div class="links">Also, <a href="http://www.giro.com/us_en/products/men/apparel/ss-merino-polo.html/" target="_blank">New Road Apparel Detail</a></div>

</article>

<article>
  	
	<p class="title"><a href="http://www.easton.com" target="_blank">Easton <i class="icon-external-link-sign"></i></a></p>
	<div class="links">Also, <a href="http://www.easton.com/baseball/products/baseball-bats/power-brigade-xl1-comp-3-bbcor" target="_blank">Easton Bat Detail</a></div>

</article>

<article>
  	
	<p class="title"><a href="http://www.tracx.com/" target="_blank">Tracx <i class="icon-external-link-sign"></i></a></p>
	<div class="links">Also, <a href="http://www.tracx.com/features/" target="_blank">Tracx Features</a></div>

</article>

<!-- <article>
  	
	<p class="title"><a href="http://garthand.co" target="_blank">GarthAnd.Co <i class="icon-external-link-sign"></i></a></p>

</article> -->

<article>
  	
	<p class="title"><a href="http://controlcam.com" target="_blank">ControlCam <i class="icon-external-link-sign"></i></a></p>

</article>