---
title:     Andy Baudoin, Front-end Developer from Portland, Oregon
bodyclass: resume
---

<h2>Resume <a href="/">View Recent Work</a></h2>

<p class="h4">Employment</p>

<article>
  	
	<p class="company"><a href="http://thegood.com/">The Good</a>
		<span class="title">Front-end Developer</span>
		<span class="date">9/12-Present</span>
	</p>

	<p>At this heavily e-commerce focused agency I've been able to understand the scope of projects beyond simple information-based websites. Working in more of an agile based workflow I've also gained experience with rapid prototyping tools as well as UX/IA. </p>

</article>

<article>
  	
	<p class="company"><a href="http://www.epipheo.com/">Epipheo</a>
		<span class="title">Front-end Developer &amp; Producer</span>
		<span class="date">4/12-9/12</span>
	</p>

	<p>As both a developer and producer of interactive projects I not only set expectations but worked to maintain them during production. In this small Portland office I also helped to consult on technical aspects of projects during discovery.</p>

</article>

<article>
  	
	<p class="company"><a href="http://www.gravitatedesign.com/">Gravitate</a>
		<span class="title">Front-end Developer</span>
		<span class="date">5/10-4/12</span>
	</p>

	<p>My time was split between interactive design and development while this agency grew from 7-26. I completed or worked on roughly 100 or more websites and advocated strongly to adopt RWD techniques as well as using tools such as git. Before leaving I was tasked to redevelop the agency website to prove the usefulness of responsive design.</p>

</article>

<article>
  	
	<p class="company"><a href="http://www.osbar.org/">Oregon State Bar</a>
		<span class="title">Web &amp; Print Production Designer/ <br>Junior Front-End Developer</span>
		<span class="date">3/07-5/10</span>
	</p>

	<p>As my first job after college I rebranded the organization as well as developed a styleguide used from internal publications to building signs. During these few years I built relationships with local printers, designed many publications and print material as well as built simple websites for internal departments.</p>

</article>

<article>
  	
	<p class="company">FWIS
		<span class="title">Studio Intern</span>
		<span class="date">1/06-8/06</span>
	</p>

	<p>Great experience working with smart people who went on to do great things.</p>

</article>


<p class="h4">Education</p>

<article>
  	
	<p class="company"><a href="http://www.pnca.edu/">Pacific Northwest College of Art</a>
		<span class="title">BFA - Communication Design</span>
	</p>

</article>


<p class="h4">Competencies</p>

<article>

		<ul>
			<li>Master
				<ul>
					<li><span>HTML</span> – HAML and Markdown are fun too</li>
					<li><span>CSS</span> – Usually SCSS/SASS</li>
				</ul>
			</li>

			<li>Moderate
				<ul>
					<li><span>JS</span> – Animations/Interactivity, simple functions</li>
					<li><span>PHP</span> – Wordpress themeing, simple functions</li>
				</ul>
			</li>

			<li>Minimal
				<ul>
					<li><span>Python/Django</span></li>
				</ul>
			</li>

			<li>Upcoming
				<ul>
					<li>I’ve come to fully embrace the preprocessor in the last year and increasingly interested in working with tools such as Middleman and Yeoman. This year I hope to become proficient in JS MV libraries such as Backbone and Ember.</li>
				</ul>
			</li>
		</ul>

</article>


<p class="h4">References</p>

<article class="references">
	
	<p><a href="mailto:erin@seeyouinshop.com">Erin Lynch</a><br>
		<a href="tel:360-450-7942">360-450-7942</a>
	</p>

	<p><a href="mailto:erin@seeyouinshop.com">Barrett Streu	</a><br>
		<a href="tel:313-590-0617">313-590-0617</a>
	</p>

	<p><a href="mailto:jonathan.eggiman@gmail.com">Jonathan Eggiman</a><br>
		<a href="tel:415-203-6641">415-203-6641</a>
	</p>

</article>